DB_HOST=mspr-healthai-db
DB_PORT=5432
DB_NAME=healthai
DB_USER=healthai_user
DB_PASSWORD=password
OLLAMA_HOST=http://ollama:11434
BETTER_AUTH_SECRET=change-me-shared-with-mspr-auth
AUTH_API_URL=http://mspr-healthai-auth:3000
